
.menuBar{
    background-color: black;
    width: 100%; 
    padding: .5ch 5ch;
    float: left;
    overflow: hidden;
    font-size: x-large;
    
}

.menuBar a{
    padding-left: 5ch;
    text-decoration: none;
    color: white;
}

#home{
    padding-left: .2ch;
}

body{
    margin: 0;
    padding: 0;
}